<!DOCTYPE html>
<!-- add html -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Employee Add</title>
</head>
<body>

<!-- start navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="/">Human Resource Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
<!--            <li class="nav-item active"><a class="nav-link" href="home">Home<span class="sr-only"></span></a></li>-->
            <li class="nav-item active"><a class="nav-link" href="/home"><u>Home</u></a></li>


<!--            <li class="nav-item active"><a class="nav-link" href="empADD"><u>ADD Employee</u></a></li>-->
        </ul>
    </div>
</nav>
<!-- end navbar -->

<!--start Form-->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-dark">Add Employee</h4>

                    <form th:action="@{/register}" method="POST" enctype="multipart/form-data">

<!--                        <form th:action="@{/files}" method="POST" enctype="multipart/form-data">-->
<!--                            <input type="file" name="file"/>-->
<!--                            <input type="submit" value="Upload"/>-->
<!--                        </form>-->

                        <div class="form-group">
                            <label>Full Name</label> <input type="text" class="form-control" placeholder="Full Name" name="name">
                        </div>

                        <div class="form-group">
                            <label>Address</label> <input type="text" class="form-control" placeholder="Address" name="address">
                        </div>

                        <div class="form-group">
                            <label>Contact</label> <input type="number" class="form-control" placeholder="Contact Number" name="contact">
                        </div>

                        <div class="form-group">
                            <label>Email</label> <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>

                        <div class="form-group">
                            <label>Supervisor name</label> <input type="text" class="form-control" placeholder="Supervisor name" name="supervisorname">
                        </div>

                        <div class="form-group">
                            <label>Salary</label> <input type="number" class="form-control" placeholder="Salary" name="salary">
                        </div>

                        <div class="form-group">
                            <label>PanCard No.</label> <input type="number" class="form-control" placeholder="PanCard Number" name="pancard">
                        </div>

                        <div class="form-group">
                            <label>CitizenShip</label> <input type="file" class="form-control" placeholder="CitizenShip" name="citizen">
                        </div>

                        <button class="btn btn-primary btn-block">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end form-->


<!--<img src="https://images.unsplash.com/photo-1511467687858-23d96c32e4ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Paris" class="center" >-->
<!--<img src="https://images.unsplash.com/photo-1511467687858-23d96c32e4ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid" alt="Responsive image">-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
