<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Human Resource Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

</head>

<body>
<nav class="navbar justify-content-between bg-dark navbar-dark h5">
    <!-- Brand -->
    <a class="nav-link " th:href="employeepage"> Home </a>
    <!--    <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--    <div>-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item">-->
                <!--                <a class="nav-link" th:href="@{}"> Leave Request </a>-->
                <a class="nav-link" th:href="leaverequest"> Leave Request </a>
<!--            </li>-->
<!--            <li class="nav-item">-->
                <!--                <a class="nav-link" th:href="@{}"> My LeaveRequest </a>-->
                <a class="navbar-brand" th:href="myleaverequest"> My LeaveRequest </a>
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</nav>

<div >
    <table  class = "table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> From </th>
            <th> To </th>
            <th> Reason </th>
            <th> Leave </th>
            <th></th>
        </tr>
        </thead>

        <tbody class="bg-white">
<!--        th:each="consumer : ${consumerList}-->
        <th:block th:each="e: ${employess} ">
            <tr>
                <td>  [[${e.eid}]] </td>
                <td>  [[${e.name}]] </td>
                <td>  [[${e.from}]] </td>
                <td>  [[${e.to}]] </td>
                <td>  [[${e.reason}]] </td>
                <td>  [[${e.leave}]] </td>
            </tr>

        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>